<%- include('../partials/header') %>

  <div class="main-content">
    <div class="column">
      <h1 id="venue-script"><%= venue.venueName %></h1>
      <div id="venue-info">
        <h3><%= venue.area %> area</h3>
        <h3><%= venue.address %></h3>
        <a href="http://<%= venue.website %>" target="_blank" id="venueLink"><%= venue.website %></a>
        <h3><%= venue.phone %></h3>
        <h3>Karaoke days: <%= venue.when.charAt(0).toUpperCase() + venue.when.slice(1) %></h3>
        <h3>Frequency: <%= venue.other %></h3>
        <h3>Venue highlights: <%= venue.highlights %></h3>
      </div>

      <br>
      <section id="reviewForm">
        <form id="add-review-form" method="POST" action="/reviews/venues/<%= venue._id %>/reviews">
          <h4>Review this venue:</h4>
          <textarea name="content" class="text-box"></textarea>
          <br>
          <label>Rating:</label>
          <select name="rating" id="selector">
            <option value="1">No Go(1)</option>
            <option value="2">Fair(2)</option>
            <option value="3">Good(3)</option>
            <option value="4">Great(4)</option>
            <option value="5" selected>Stellar(5)</option>
          </select>
          <br><br>
          <input type="submit" value="Add Review" id="review-submit">
        </form>
    </div>

    <div class="column">
      <% if (venue.reviews.length) { %>
        <div class="reviews-container">
          <% let total=0 %>
            <% venue.reviews.forEach(function(r) { %>
              <% total +=r.rating %>
                <div class="review">
                  <div class="review-user">
                    <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer">
                    <%= r.userName %>
                  </div>
                  <div>reviewed on 
                    <%= r.createdAt.toLocaleDateString() %>:
                  </div>
                  <div>
                    <%= r.content %>
                  </div>
                  <div><u>Rating:</u> 
                    <%= r.rating %> <br>
                  </div>
                  <br>
                  <div>
                    <% if (user?._id.equals(r.user)) { %>
                      <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                        <button type="submit" id="xButton">x</button>
                      </form>
                      <% } %>
                  </div>
                </div>
                <% }); %>

                  <div class="review-footer">
                    <div colspan="3"></div>
                    <div><strong>Average rating:  
                        <%= (total / venue.reviews.length).toFixed(0) %>/5
                      </strong></div>
                  </div>
        </div>


        <% } else { %>
          <h5>No Reviews Yet</h5>
          <% } %>
            </section>
    </div>
  </div>

  <%- include('../partials/footer') %>