<%- include('../partials/header') %>

    <div class="pgContent">
        <h1>
            <%= title %>
        </h1>

        <% venuesByArea.forEach( v=> { %>
            <h3><a href="/venues/show/<%= v._id %>">
                    <%= v.venueName %>
                </a></h3>
    </div>

    <% } ) %>


        <%- include('../partials/footer') %>