<%- include('../partials/header') %>

<h2><%= title %></h2>

<% venuesByArea.forEach( v => { %>
<h3><a href="/venues/show/<%= v._id %>"><%= v.venueName %></a></h3>

    <% } ) %>

<a href="../venues/new">Add a Venue</a>

<%- include('../partials/footer') %>