<%- include('../partials/header') %>

    <div class="pgContent">
        <h1>
            <%= title %>
        </h1>

    </div>
    <% venuesByArea.forEach( v=> { %>
        <h3 class="pgContent"><a href="/venues/show/<%= v._id %>">
                <%= v.venueName %>
            </a></h3>

        <% } ) %>


            <%- include('../partials/footer') %>